@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

/* Custom Styling */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

footer a:hover {
  text-decoration: underline;
}

input[type="email"] {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
